# See https://eslint.org/docs/user-guide/configuring/ignoring-code for more about ignoring files.

# dependencies
/node_modules
/.idea

# next.js
/public
/.next
next-env.d.ts

# supabase
/supabase/types.ts
